<h2 class="page-header">Search Tools</h2>
<form action="/tools" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%=searchOptions.name %>">
        </div>
        <div class="form-item">
         <label>Serialnumber</label>
            <input type="text" name="qrCode" value="<%=searchOptions.qrCode %>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>
<div>
    <% tools.forEach(tool => { %> 
        <a href="/tools/<%= tool.id %>">
            <img height="150" width="150" src="<%= tool.toolImagePath %> ">
        </a>
    <% })%> 
</div>