<header>
    <nav class="header-nav">
        <a class="header-title" href="/">ShareToolbox</a>
        <ul>
            <li><a href="/toolboxes">Toolboxes</a></li>
            <li><a href="/toolboxes/new">Add Toolboxes</a></li>
            <li><a href="/tools">Tools</a></li>
            <li><a href="/tools/new">Add Tool</a></li>
        </ul>
    </nav>
</header>