<header>
    <nav>
        <a href="/">ShareToolbox</a>
        <ul>
            <li><a href="/toolboxes">Toolboxes</a></li>
            <li><a href="/toolboxes/new">Add Toolboxes</a></li>
        </ul>
    </nav>
</header>