<h2>Recently updated tools</h2>
<div>
    <% tools.forEach(tool => { %> 
        <a href="/tools/<%= tool.id %>">
            <img height="150" width="150" src="<%= tool.toolImagePath %> ">
        </a>
    <% })%> 
</div>