<h2 class="page-header">New toolbox</h2>
<form action="/toolboxes" method="POST">
    <%- include('_form_fields') %>
    <a href="/toolboxes">Cancel</a>
    <button type="submit">Create</button>
</form>


